img {
    width: 70%;
    /* you can use % */
    height: auto;
    border-radius: 5%;
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    transition: filter 0.1s ease;
    -webkit-transition: filter 0.1s ease;
}
img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.thumbnail {
    border-radius: 0%;
    text-align: justify;
    padding: 15px;
    display: block;
}

.thumbnail #tmb-title {
    text-align: center;
}

.container h1:first-of-type {
    margin-top: 0;
}

.img-loading {
    width: 150px;
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto
}

.tmbimg {
    width: 100%;
}

body.modal-open {
    overflow: hidden;
}